<%- include("header") -%>

<main class="container-items">
    <div class="list">
        
            <% for (let i=0; i<items.length; i++){ %>
                <span class="circle-item"><div class="circle"></div><p class="textItem"><%= items[i] %></p></span>
            <% } %>

            <form action="/" method="POST">
                <input class="user-input" type="text" name="newItem">
                <button class="user-button" type="submit">+</button>
            </form>
    </div>
</main>

<%- include("footer") -%>