* {
    margin: 0;
    padding: 0;
  }

body {
    background-color: #0C093C;
    color: #FAD6D6;
    font-family: 'Roboto', sans-serif;
}


/**header**/
header {
    background: rgb(213,18,189);
    background: linear-gradient(90deg, rgba(213,18,189,1) -50%, hsla(310, 58%, 51%, 0.596) 100%);
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}

.logo {
    margin-left: 80px;
    font-size: 40px;
    font-weight: 400;
}

.currentDate {
    font-size: 35px;
    font-weight: 300;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-weight: 100;
    font-size: 25px;
}

.user img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}


/*Main section*/

main {
    display: flex;
   
    justify-content: center;
}

.list {
    border-radius: 33px;
    margin-top: 40px;
    width: 1091px;
    min-height: 813px;
    background: rgb(213,18,189);
    background: linear-gradient(120deg, rgba(213,18,189,1) -10%, hsla(310, 58%, 51%, 0.596) 100%);
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: 400;
}

.circle-item {
    display: flex;
    align-items: center;
    padding: 50px 0 20px 200px;
}

.circle-item:first-child {
    margin-top: 70px;
}

.circle:hover {
    background-color: rgba(15, 10, 87, 0.51);
}

.textItem:hover {
    color: rgb(202, 167, 167);
}

.circle {
    margin-right: 10px;;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #DF42D1;
}

form {
    margin: 10px 0 50px 200px;
}

.user-input {
    font-size: 35px;
    color: #FAD6D6;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(119, 13, 110, 0.459);
    width: 300px;
    height: 50px;
}

.user-input:focus {
    outline: 0;
}

.user-button {
    border-radius: 47%;
    border: none;
    background-color: #8C1C82;
    color:  #FAD6D6;
    font-size: 66px;
    font-weight: 700;
    height: 96px;
    width: 115px;
    margin-left: 300px;
    box-shadow: 0.5px 1px 3px #0C093C;
}